{% extends "base/layout/layout.html" %}
{% load static %}
{% load i18n %}
{% load hitcount_tags %}

{% block site_title %}
{{ news_detail.title }}
{% endblock %}

{% block content %}

<!-- Content -->
<section class="bg0 p-t-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 p-b-30">
                <div class="p-r-10 p-r-0-sr991">
                    <!-- Blog Detail -->
                    <div class="p-b-70">
                        {% if '_' not in news_detail.news_website.name %}
                        <a href="{% url 'main:news_list' slug=news_detail.news_website.slug %}"
                            class="f1-s-10 cl2 hov-cl10 trans-03 text-uppercase">

                            {{ news_detail.news_website.name }}

                        </a>
                        {% endif %}
                        <h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2">
                            {{ news_detail.title }}

                        </h3>

                        <div class="flex-wr-s-s p-b-40">
                            <span class="f1-s-3 cl8 m-r-15">
                                <span>
                                    {{ news_detail.update_at }}
                                </span>
                            </span>

                            <span class="f1-s-3 cl8 m-r-15">
                                {% get_hit_count for news_detail %} <i class="fa fa-eye" title="views"
                                    aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-pic-max-w p-b-30">
                            <img src="{{ news_detail.image }}" alt="IMG">
                        </div>

                        <p class="f1-s-11 cl6 p-b-25">
                            {{ news_detail.description|capfirst }}.
                        </p>

                        <a href="{{ news_detail.url }}">Check the article in the Original Website</a>
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-md-10 col-lg-4 p-b-30">
                <div class="p-l-10 p-rl-0-sr991 p-t-70">

                    <!-- Popular Posts -->
                    <div class="p-b-30">
                        <div class="how2 how2-cl4 flex-s-c">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Popular News
                            </h3>
                        </div>
                        {% if most_popular_news %}
                        <ul class="p-t-35">

                            {% for news in most_popular_news %}
                            <li class="flex-wr-sb-s p-b-30">
                                <a href="{% url 'main:news_detail' website_slug=news.news_website.slug slug=news.slug %}"
                                    class="size-w-10 wrap-pic-w hov1 trans-03">
                                    <img src="{{ news.image }}" alt="IMG">
                                </a>

                                <div class="size-w-11">
                                    <h6 class="p-b-4">
                                        <a href="{% url 'main:news_detail' website_slug=news.news_website.slug slug=news.slug %}"
                                            class="f1-s-5 cl3 hov-cl10 trans-03">
                                            {{ news.title }}
                                        </a>
                                    </h6>

                                    <span class="cl8 txt-center p-b-24">
                                        <span class="f1-s-3 m-rl-3">
                                            {% get_hit_count for news %} <i class="fa fa-eye" title="Total views"
                                                aria-hidden="true"></i>
                                        </span>

                                        <span class="f1-s-3 m-rl-3">
                                            -
                                        </span>

                                        <span class="f1-s-3">
                                            {{ news.create_at|date:"M d" }}
                                        </span>
                                    </span>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}