{% extends 'account/base.html' %}
{% load i18n %}
{% load static %}

{% block site_title %}
{% trans "Reset Password Form" %}
{% endblock %}

{% block base_content %}

<h2>Reset Password Form</h2>

<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form method="POST">
      {% csrf_token %}
      <label for="">New password</label>
      {{ form.new_password1 }}

      <label for="">New password confirmation</label>
      {{ form.new_password2 }}
      <button>Change</button>
      <a href="{% url 'main:home' %}">Home</a>
      <a href="{% url 'account:register' %}">Log In / Sign Up</a>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">

      <div class="overlay-panel overlay-right">
        <h1>Hello, There!</h1>
        <p>You are about to reset your password. Please, Enter your new password.</p>
      </div>
    </div>
  </div>
</div>




{% endblock %}