<!-- Breadcrumb -->
<div class="container">

    <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">

        <div class="f2-s-1 p-r-30 m-tb-6">

            <a href="{% url 'main:home' %}" class="breadcrumb-item f1-s-3 cl9">
                Home
            </a>
            {% if news_slug %}
            <a href="{% url 'main:news_list' slug=website_slug %}" class="breadcrumb-item f1-s-3 cl9">
                {{ website_breadcrumb.name }} 
            </a>
            <span class="breadcrumb-item f1-s-3 cl9">
                {{ news_detail.title }}
            </span>
            {% elif search_result %}
            <span class="breadcrumb-item f1-s-3 cl9">
                Search
            </span>
            {% elif watch_later %}
            <span class="breadcrumb-item f1-s-3 cl9">
                Watch Later
            </span>
            {% elif history %}
            <span class="breadcrumb-item f1-s-3 cl9">
                History
            </span>
            {% else %}
            <span class="breadcrumb-item f1-s-3 cl9">
                {{ website_breadcrumb.name }} 
            </span>
            {% endif %}

        </div>
        {% if news_slug is None and website_categories %}
        <nav>
            {% for category in website_categories %}
            
            <a href="{% url 'main:news_list' slug=category.slug %}">
                {% if category.name == 'Business Arabian Business' %}
                Arabian Business
                {% elif category.name == 'Business New York Times' %}
                New York Times
                {% elif "Technology" in category.name %}
                {{ category|cut:'Technology' }}
                {% else %}
                {{ category|cut:'New York Times'|cut:'Roya'|cut:'Jordan Times'|cut:'Aljazeera'|cut:'Business' }}
                {% endif %}
            </a>
            {% if forloop.counter < website_categories|length %}|{% endif %}
            {% endfor %}
        </nav>
        {% endif %}
        <!-- <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
            <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
            <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                <i class="zmdi zmdi-search"></i>
            </button>
        </div> -->
    </div>
    
</div>